$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import url("http://fonts.googleapis.com/css?family=Roboto:400,500,700,300");

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/** 
--------------------------------------------------------
 HOME
--------------------------------------------------------
*/

.home-page {

  .slider img {
    max-width: 100%;
  }

  .section-menu {
    background: #e7eef3;
    padding-top: 10px;
    padding-bottom: 10px;

    .menu {
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
    }

    .menu__item {
      width: 33.333333%;
      display: block;
      float: left;
      text-align: center;
    }

    .menu__item a {
      width: 40px;
      height: 40px;
      display: inline-block;
      text-indent: -9999px;
      background: url("../images/menu-icons-sprite.png");
    }

    .menu__item.active a {
      background-position-y: -40px;
    }

    .menu__item-places a {
      background-position-x: -40px;
    } 

    .menu__item-offers a {
      background-position-x: -80px;
    } 
  }

  .categories {

    .categories__list {
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      .category__item {
        padding-left: 0;
        padding-right: 0;
        display: relative;

        img {
          max-width: 100%;
        }

        .category__info {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        .category__icon {
          display: block;
          margin: 0 auto;
          width: 55px;
          height: 40px;
          background: url("../images/icon-categories-sprite.png");
          background-size: 330px;
        }

        .category__icon--restaurant {
          background-position-x: -55px; 
        }

        .category__icon--bar {
          background-position-x: -110px; 
        }

        .category__icon--cafe {
          background-position-x: -165px; 
        }

        .category__icon--disco {
          background-position-x: -220px; 
        }

        .category__icon--shop {
          background-position-x: -275px; 
        }

        .category__title {
          text-transform: uppercase;
          font-weight: 500;
          color: #FFFFFF;
          font-family: 'Roboto', sans-serif;
          letter-spacing: 1px;
        }
      }
    }
  }
}

